In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
labels = ['a', 'b', 'c']

In [5]:
my_data = [10, 20, 30]

In [6]:
arr = np.array(my_data)

In [10]:
d = {'a':10, 'b':20, 'c':30}

In [16]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [17]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [23]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [24]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [26]:
ser1 = pd.Series([1,2,3,4],['USA', 'Germany', 'USSR', 'Japan'])

In [29]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])

In [31]:
ser2['Germany']

2

In [32]:
ser3 = pd.Series(data=labels)

In [33]:
ser3

0    a
1    b
2    c
dtype: object

In [35]:
ser3[1]

'b'

In [37]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64