In [6]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [16]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [19]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [9]:
df

             A         B
G1 1 -0.372804  0.357741
   2  0.159553 -0.216717
   3  0.804426  0.842142
G2 1  0.541091  1.575787
   2 -2.024134  1.766734
   3 -0.307299 -0.454907

In [17]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [22]:
df.loc['G1'].loc[1]

A    0.263303
B   -0.250440
Name: 1, dtype: float64

In [23]:
df.index.names

FrozenList([None, None])

In [24]:
df.index.names = ['Groups', 'Num']

In [25]:
df

                   A         B
Groups Num
G1     1    0.263303 -0.250440
       2   -1.192236  0.859795
       3    1.641173  0.408377
G2     1    1.864324  0.775288
       2   -0.171909  0.793984
       3   -0.037660  0.098433

In [26]:
df

                   A         B
Groups Num
G1     1    0.263303 -0.250440
       2   -1.192236  0.859795
       3    1.641173  0.408377
G2     1    1.864324  0.775288
       2   -0.171909  0.793984
       3   -0.037660  0.098433

In [27]:
df.xs('G1')

            A         B
Num
1    0.263303 -0.250440
2   -1.192236  0.859795
3    1.641173  0.408377

In [28]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.263303 -0.250440
G2      1.864324  0.775288