In [8]:
import pandas as pd
import numpy as np

In [9]:
pwd

'C:\\Users\\karlisr\\Google Drive\\VISSTAS\\PROJECTS\\Udemy_courses\\2_Python\\2_Udemy_Python_for_data_science\\2_my_course_code\\3_Pandas'

In [10]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
df = pd.read_csv('example')

In [12]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
df.to_csv('My_output', index=False)

In [14]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [17]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [18]:
df.to_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')

In [21]:
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [23]:
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
1,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
2,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
3,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
4,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017"

In [27]:
from sqlalchemy import create_engine

In [28]:
engine = create_engine('sqlite:///memory:')

In [29]:
df.to_sql('my_table', engine)

OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: http://sqlalche.me/e/e3q8)